div#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

div#app-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 400px;
  max-width: 600px;
  overflow: auto;
}
