div#item-container {
  display: flex;
  flex-direction: column;
  width: 80px;
}

label#item-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

select#edit-category-select {
  font-size: 12px;
  height: 22px;
}
